AT<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About us</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/base.css') }}" />
  </head>
  <body>
    <div id="particles-js">
      <h1 class="about-head">Contact &nbsp;us</h1>
      <img src="static/we2.jpeg" alt="" class="grp-img" />
      <div class="text-bg">
          <div class="name-box">
              <h2 class="name">Linto Tony</h2>
              <h6 class="phn">8281225383</h6>
              <h6 class="email">lintotony7@gmail.com</h6>
          </div>
          <div class="name-box">
              <h2 class="name">Akshai Pushpan</h2>
              <h6 class="phn">8156802474</h6>
              <h6 class="email">akshaipushpan474@gmail.com</h6>
          </div>
          <div class="name-box">
              <h2 class="name"> Eby Thomas</h2>
              <h6 class="phn"> 9496076605</h6>
              <h6 class="email">ebythomas000@gmail.com </h6>
          </div>
          <div class="name-box">
              <h2 class="name">Kiran Paul Alex</h2>
              <h6 class="phn">9446233434</h6>
              <h6 class="email">kiranpaulalex@icloud.com</h6>
          </div>
      </div>
      <script type="text/javascript" src="{{ url_for('static',filename='particles.js') }}"></script>
      <script type="text/javascript" src="{{ url_for('static',filename='app.js') }}"></script>
    </div>
  </body>
</html>
